<section class="user-container">
    <h1>List of users</h1>
    <button (click)="addUser()">Add User</button>
    <table>
        <thead>
            <tr>
                <th class="name">Name</th>
                <th class="mobile">Mobile No</th>
            </tr>
        </thead>
        <tbody class="user-content">
            <tr *ngFor=" let user of users">
                <td class="name">{{user.name}}</td>
                <td class="mobile">{{user.mobile}}</td>
            </tr>
        </tbody>
    </table>
</section>
