<div class="main-component">
  <div class="left-container">
        <div class="profile">
            <label>Chandra</label>
             <app-notifier></app-notifier>
            <div class="message-icon"></div> 
            <div class="message-head"></div>
            <div class="message-line"></div>  
         </div>
         <div class="navigation">
            <app-navigator></app-navigator>
         </div>
         <div class="messenger">
                <app-messenger></app-messenger>
        </div>
  </div>
  <div class="view-container">
      <router-outlet></router-outlet>
  </div>
</div>